* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  min-width: 500px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(45deg, #2f3542, #2c3e50);
}
@keyframes editing {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: hidden;
}
.content #s1,
.content #s2,
.content #s3 {
  display: none;
}
.content #s1:checked ~ .sliders {
  margin-left: 0;
}
.content #s2:checked ~ .sliders {
  margin-left: -100%;
}
.content #s3:checked ~ .sliders {
  margin-left: -200%;
}
.content .sliders {
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 0;
  transition: margin-left 0.5s;
}
.content .sliders .slider {
  width: 33.3%;
  height: 100%;
}
.content .sliders .slider.index {
  padding-top: 50px;
}
.content .sliders .slider.index .logo {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
}
.content .sliders .slider.index .search {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
  height: 50px;
  display: flex;
  color: #fff;
}
.content .sliders .slider.index .search input {
  color: #fff;
  background-color: transparent;
  border-radius: 25px 0 0 25px;
  text-indent: 2em;
  display: block;
  height: 50px;
  flex-grow: 1;
  border: 2px solid #3498db;
  border-right: none;
  outline: none;
  transition: background-color 0.3s;
}
.content .sliders .slider.index .search input:hover {
  background-color: #3498db33;
}
.content .sliders .slider.index .search .btn {
  border-radius: 0 25px 25px 0;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #3498db;
  cursor: pointer;
  position: relative;
  font-size: 1.3em;
  transition: background-color 0.3s;
}
.content .sliders .slider.index .search .btn:hover {
  background-color: #3498db33;
}
.content .sliders .slider.index .search .btn .change {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #3498db;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.content .sliders .slider.index .search .btn .change:hover {
  background: #3498db;
}
.content .sliders .slider.index .search .btn span {
  text-transform: capitalize;
}
.content .sliders .slider.index .search .btn input {
  display: none;
}
.content .sliders .slider.index .search .btn input:checked + ul {
  display: block;
}
.content .sliders .slider.index .search .btn ul {
  z-index: 100;
  display: none;
  list-style: none;
  width: 100%;
  position: relative;
  background-color: #34495e;
}
.content .sliders .slider.index .search .btn ul li:hover {
  background-color: #3498db;
}
.content .sliders .slider.index .tags {
  color: #3498db;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}
.content .sliders .slider.index .tags.editing .tag:not(.add) {
  animation: editing .2s infinite linear;
}
.content .sliders .slider.index .tags.editing .container .del-btn {
  display: inline-block;
}
.content .sliders .slider.index .tags .container {
  position: relative;
}
.content .sliders .slider.index .tags .container .del-btn {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #3498db;
  cursor: pointer;
  top: 0;
  right: 0;
}
.content .sliders .slider.index .tags .container .del-btn:hover {
  background: #3498db;
}
.content .sliders .slider.index .tags .tag {
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 100px;
  border: 2px solid #3498db;
  border-radius: 20px;
  transition: border-width 0.3s;
  position: relative;
}
.content .sliders .slider.index .tags .tag:hover {
  border-width: 8px;
}
.content .sliders .slider.index .tags .tag:hover .tag-name {
  opacity: 1;
  font-size: 2em;
}
.content .sliders .slider.index .tags .tag:hover .no-img {
  font-size: 1.2em;
}
.content .sliders .slider.index .tags .tag:hover img {
  opacity: 0;
}
.content .sliders .slider.index .tags .tag.add::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60%;
  height: 10px;
  background-color: #3498db;
}
.content .sliders .slider.index .tags .tag.add::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 60%;
  width: 10px;
  background-color: #3498db;
}
.content .sliders .slider.index .tags .tag .tag-name {
  position: absolute;
  color: #3498db;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  font-size: 3em;
  transition: .3s;
}
.content .sliders .slider.index .tags .tag .no-img {
  position: absolute;
  color: #3498db;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  transition: font-size 0.3s;
}
.content .sliders .slider.index .tags .tag img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100%;
  transition: opacity .3s;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.modal .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal .modal-dialog {
  border-radius: 20px;
  overflow: hidden;
  width: 500px;
  height: 300px;
  background-color: #fff;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-dialog h2 {
  text-indent: 2em;
}
.modal .modal-dialog table {
  margin: 0 auto;
  font-size: 1.5em;
}
.modal .modal-dialog table input {
  display: inline-block;
  width: 300px;
  height: 40px;
  outline: none;
  text-indent: 2em;
}
.modal .modal-dialog table td {
  padding: 20px 0;
}
.modal .modal-dialog table .btn-group {
  display: flex;
  flex-direction: row-reverse;
}
.modal .modal-dialog table .btn-group .btn {
  height: 40px;
  width: 80px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modal .modal-dialog table .btn-group .btn.confirm {
  background: #3498db;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.modal .modal-dialog table .btn-group .btn.cancel {
  background: #34495e;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.indicator {
  box-sizing: content-box;
  width: 100px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(-45deg);
  background: transparent;
  transition: width 0.3s, height 0.3s, border-radius 0.3s;
  overflow: hidden;
}
.indicator:hover {
  width: 250px;
  height: 250px;
  border-radius: 0;
  padding: 50px;
}
.indicator:hover .tab label {
  opacity: 1;
}
.indicator .tab {
  float: left;
  width: 100%;
  height: 33.3%;
  opacity: 0.8;
  transition: opacity .5s, transform .3s;
}
.indicator .tab label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
}
.indicator .tab.tab1 {
  background: linear-gradient(0, #16a085, #2ecc71);
}
.indicator .tab.tab2 {
  background: linear-gradient(0, #f1c40f, #16a085);
}
.indicator .tab.tab3 {
  background: linear-gradient(0, #d35400, #f1c40f);
}
.indicator .tab:hover {
  opacity: 1;
  transform: translateX(-50px);
}
